body {
  background-color: #FFFAF1;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  height: 200px;
  margin: 20px;
  box-shadow: 0px 0px 10px #888888;
  background-color: #888888;
}

.card-title {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 24px;
}

.card-text {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

.btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: purple;
  color: white;
  cursor: pointer;
}

form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 200px;
  height: 30px;
  padding: 5px;
  font-size: 18px;
  margin-bottom: 20px;
}

button[type="button"] {
  width: 100px;
  height: 40px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: purple;
  color: white;
  cursor: pointer;
}

#questionnaire-title,
#questionnaire-keywords {
  margin-top: 50px;
  font-size: 18px;
}

#error-message {
  color: red;
  margin-top: 20px;
}

#card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submit-button {
  margin-top: 1em;
}

#questionnaires-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fileInput {
  padding: 10px;
  font-size: 16px;
}

#response {
  margin-top: 20px;
  font-size: 16px;
  background-color: purple;
}

.instruction {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}